.material-icons.red {
  color: red;
}

.demo-ribbon {
  width: 100%;
  height: 40vh;
  background-color: red;
  flex-shrink: 0;
}

.demo-main {
  margin-top: 35px;
  flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
  padding-left: 40px;
}

.demo-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  /*margin: 0 auto;*/
}

.demo-content {
  border-radius: 2px;
  padding: 20px 56px;
  margin-bottom: 30px;
  -webkit-align-content: center;
  align-content: center;
}

.demo-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}

.demo-content h4 {
  margin-top: 10px;
}

.demo-footer {
  padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

.stype {
  display: inline;
  padding-left: 0.6em;
  padding-right: 0.6em;
  background-color: grey;
  color: white;
  border-radius: 0.25em;
  float: right;
  font-size: 50%;
  text-align: center;
  margin-left: 0.1em;
  vertical-align: baseline;
}

.prereq {
  display: inline;
  padding-left: 0.6em;
  padding-right: 0.6em;
  background-color: #f44336;
  border-radius: 0.25em;
  text-align: center;
  margin-left: 0.1em;
  font-size: 150%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  color: white;
  vertical-align: text-top;
  border-style: solid;
  border-width: 0.05em;
  border-color: black;
}

.prereq:hover {
  text-decoration: none;
  background-color: white;
  color: #f44336;
  cursor: hand;
}

#unavail {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  align-content: center;
  vertical-align: middle;
  display: table-cell;
  border-style: solid;
  border-width: 0.05em;
  border-color: black;
  display: table-cell;
  padding: 10px;
}

.mdl-textfield__label:after {
  background-color: #f44336
}

.coursebox {
  margin: 20px;
  height: 200px;
  width: 200px;
  display: inline-block;
}

#maincontainer {
  background-color: #d3d3d3;
  text-align: center;
}

#resources img {
  height: 180px;
  width: 180px
}

#rating {
  padding: 5px 0;
  display: table;
}
