{%extends "basic_header.html"%}

{%block pagebody%}

<script src="http://d3js.org/d3.v3.min.js"></script>


<main class="demo-main mdl-layout__content">
<div class="demo-container mdl-grid">
<div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
<div class="demo-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--4-col center-items">
<h4>GRADE DISTRIBUTION</h4>
<div class="gGraph1"></div>
</div>
<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
<div class="demo-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--4-col center-items">
<h4>GRADE DISTRIBUTION</h4>
<div class="gGraph2"></div>
</div>
<div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
</div>
</main>

<script>
// set the dimensions of the canvas
var margin = {top: 20, right: 20, bottom: 70, left: 40},
    width = 400 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;


// set the ranges
var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

var y = d3.scale.linear().range([height, 0]);

// define the axis
var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")


var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(5);


// add the SVG element
var svg = d3.select(".gGraph1").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

  var grades = {{grades1|safe}}

  // scale the range of the data
  diff = ["EX","A","B","C","D","P","F"]
  x.domain(diff);
  y.domain([0, d3.max(diff, function(d) { console.log(grades[d]); return grades[d]; })]);

  // add axis
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);

  // Add bar chart
  svg.selectAll("bar")
      .data(diff)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(grades[d]); })
      .attr("height", function(d) { return height - y(grades[d]); });

  var svg2 = d3.select(".gGraph2").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

  grades = {{grades2|safe}}

  // scale the range of the data
  x.domain(diff);
  y.domain([0, d3.max(diff, function(d) { console.log(grades[d]); return grades[d]; })]);

  // add axis
  svg2.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg2.append("g")
      .attr("class", "y axis")
      .call(yAxis);

  // Add bar chart
  svg2.selectAll("bar")
      .data(diff)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(grades[d]); })
      .attr("height", function(d) { return height - y(grades[d]); });

</script>
{%endblock%}
