{%extends "basic_header.html"%}


{%block pagebody%}

<span id="unavail">Oops! We couldn't find the course {{id}} in our repository. An issue has been logged and we'll tlook into it. You could help us out in the meanwhile by creating a temp page with your information. We shall try getting hold of an ERP copy shortly.<br><br> <form action="action_page.php">
  Course code:<br>
  <input type="text" value={{id}}><br><br>
  Syllabus:<br>
  <input type="text" name="lastname" value="Syllabus of the course"><br><br>
  <input type="submit" value="Submit">
</form>
</form></span>
{%endblock%}