{%extends "basic_header.html"%}
{%block pagebody%}
<script src="http://d3js.org/d3.v3.min.js"></script>
<main class="demo-main mdl-layout__content">
  <div class="demo-container mdl-grid">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="demo-content mdl-color--white  content mdl-color-text--grey-800 mdl-cell mdl-cell--7-col" style="padding: 20px 10px">
      <h3>{{course.id}}
        <span class="stype">Spring</span>
        <span class="stype">Autumn</span>
      </h3>
      <h4>{{course.name}}</h4>
      <i class="material-icons red">favorite</i>
      <i class="material-icons red">favorite</i>
      <i class="material-icons">favorite</i>
      <i class="material-icons">favorite</i>
      <i class="material-icons">favorite</i>
      <div align="justify">
        <b>Syllabus</b><br>{{course.syllabus}}</h6>
      </div><br>
      <div><b>Credits</b><br>{{course.credits}}</div><br>
      <div><b>Pre-Requisites</b><br>
        <div id="prereq"></div>
      </div>
      <script type="text/javascript">
        var prereq = {
          {
            course.prereq | safe
          }
        }
        var mydiv = document.getElementById("prereq");
        for (code in prereq) {
          var aTag = document.createElement('a');
          aTag.setAttribute('href', "/courses/" + prereq[code]);
          aTag.setAttribute('class', 'prereq')
          aTag.innerHTML = prereq[code];
          mydiv.appendChild(aTag);
        };
      </script>
    </div>
    <div class="demo-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--3-col" style="padding: 20px 10px">
      <h3>GRADES</h3>
      <a href="/courses/compare">COMPARE</a>
      <div class="gGraph"></div>
    </div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-shadow--4dp demo-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--10-col" style="padding: 0">
      <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Arun Patro</h2>
        </div>
        <div class="mdl-card__supporting-text" style="padding-top: 0">
          I am the lord above.
        </div>
        <hr style="margin: 0" />
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Srihari</h2>
        </div>
        <div class="mdl-card__supporting-text" style="padding-top: 0">
          I am the douche below.
        </div>
        <hr style="margin: 0" />
        <div class="mdl-card__actions" style="padding: 0px">
          <form action="/courses/add_review" style="padding: 0 16px" method="post" id="form1">
            <div class="mdl-textfield mdl-js-textfield" style="width: 100%">
              <textarea class="mdl-textfield__input" type="text" name="comment_text"></textarea>
              <label class="mdl-textfield__label" for="sample5">Add a review...</label>
            </div>
          </form>
        </div>
        <div class="mdl-card__actions">
          <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" form="form1" value="Submit">Submit</button>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
  </div>
  <span style="position: fixed;bottom: 30px;right: 30px">
  <a href={{course.id}}/edit id="edit" class="button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">edit</i>
  </a>
</span>
</main>
<script>
  // set the dimensions of the canvas
  var margin = {
      top: 20,
      right: 20,
      bottom: 70,
      left: 40
    },
    width = 300 - margin.left - margin.right,
    height = 250 - margin.top - margin.bottom;
  // set the ranges
  var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);
  var y = d3.scale.linear().range([height, 0]);
  // define the axis
  var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
  var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(5);
  // add the SVG element
  var svg = d3.select(".gGraph").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
      "translate(" + margin.left + "," + margin.top + ")");
  var grades = {{course.grades | safe}}
  // scale the range of the data
  diff = ["EX", "A", "B", "C", "D", "P", "F"]
  x.domain(diff);
  y.domain([0, d3.max(diff, function(d) {
    console.log(grades[d]);
    return grades[d];
  })]);
  // add axis
  svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);
  svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);
  // Add bar chart
  svg.selectAll("bar")
    .data(diff)
    .enter().append("rect")
    .attr("class", "bar")
    .attr("x", function(d) {
      return x(d);
    })
    .attr("width", x.rangeBand())
    .attr("y", function(d) {
      return y(grades[d]);
    })
    .attr("height", function(d) {
      return height - y(grades[d]);
    });
</script>
{%endblock%}