{%extends "basic_header.html"%} {%block pagebody%} {% load static %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<main class="demo-main mdl-layout__content">
  <div class="demo-container mdl-grid">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-shadow--2dp demo-content mdl-color--white  content mdl-color-text--grey-800 mdl-cell mdl-cell--7-col" style="padding: 0px">
      <div style="margin: 16px">
        <h3>{{course.id}}
          <span class="stype">Spring</span>
          <span class="stype">Autumn</span>
        </h3>
        <h4>{{course.name}}</h4>
        <i class="material-icons red">favorite</i>
        <i class="material-icons red">favorite</i>
        <i class="material-icons">favorite</i>
        <i class="material-icons">favorite</i>
        <i class="material-icons">favorite</i>
        <div align="justify">
          <b>Syllabus</b>
          <br>{{course.syllabus}}</h6>
        </div>
        <br>
        <div><b>Credits</b>
          <br>{{course.credits}}</div>
        <br>
        <div><b>Pre-Requisites</b>
          <br>
          <div id='pContainer' style="padding: 10px 0">
            <div id="prereq"></div>
          </div>
        </div>
        <div>
          <b>Resources</b>
          <table style="width: 100%">
            <tr>
              <td>
                <span class="mdl-chip">
                  <span class="mdl-chip__text">
                    BOOK
                  </span>
                </span>
              </td>
              <td>Fundamentals of Statistical Signal Processing: Estimation theory</td>
              <td>Steven M. Kay</td>
            </tr>
            <tr>
              <td>
                <span class="mdl-chip">
                  <span class="mdl-chip__text">
                    BOOK
                  </span>
                </span>
              </td>
              <td>Electric Motor Drives: Modeling, Analysis, and Control</td>
              <td>Ramu Krishnan</td>
            </tr>
            <tr>
              <td>
                <span class="mdl-chip">
                  <span class="mdl-chip__text">
                    NPTEL
                  </span>
                </span>
              </td>
              <td>Advanced Electric Drives</td>
              <td>IIT Kanpur</td>
            </tr>
          </table>
        </div>
        <script type="text/javascript">
          /* beautify preserve:start */
          var prereq = {{course.prereq | safe}}
          /* beautify preserve:end */
          for (code in prereq) {
            $('#prereq').append("<a class='prereq' href=\"/courses/" + prereq[code] + "\">" + prereq[code] + "</a>")
          }
        </script>
      </div>
    </div>
    <div class="mdl-shadow--2dp demo-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--3-col" style="padding: 0px">
      <div style="margin: 16px">
        <h3>GRADES</h3>
        <a href="/courses/compare">COMPARE</a>
        <div class="gGraph"></div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div id='reviews' class="mdl-shadow--2dp demo-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--10-col" style="padding: 0">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Reviews</span>
        </div>
      </header>
      <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Arun Patro</h2>
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" style="position: absolute;right: 16px">
            <i class="material-icons">thumb_up</i>
          </button>
        </div>
        <div class="mdl-card__supporting-text" style="padding-top: 0">
          I am the lord above.
        </div>
        <hr style="margin: 0" />
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Srihari</h2>
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" style="position: absolute;right: 16px">
            <i class="material-icons">thumb_up</i>
          </button>
        </div>
        <div class="mdl-card__supporting-text" style="padding-top: 0">
          I am the douche below.
        </div>
        <hr style="margin: 0" />
        <div class="mdl-card__actions" style="padding: 0px">
          <form action="/courses/add_review" style="padding: 0 16px" method="post" id="form1">
            <div class="mdl-textfield mdl-js-textfield" style="width: 100%">
              <textarea class="mdl-textfield__input" type="text" name="comment_text"></textarea>
              <label class="mdl-textfield__label" for="sample5">Add a review...</label>
            </div>
          </form>
        </div>
        <div class="mdl-card__actions">
          <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" form="form1" value="Submit">Submit</button>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div id="resources" class="mdl-shadow--2dp demo-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--10-col" style="padding: 0">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Resources</span>
          <div class="mdl-layout-spacer"></div>
          <button id="more" class="mdl-button mdl-js-button mdl-button--icon" style="float: right;">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="more">
            <li class="mdl-menu__item">Add Book</li>
            <li class="mdl-menu__item">Add a MOOC</li>
            <li disabled class="mdl-menu__item">Disabled Action</li>
            <li class="mdl-menu__item">Add other</li>
          </ul>
        </div>
      </header>
      <div id="book">
        <div style="padding:10px;float: left;text-align: center;">
          <img src="/static/ssp.jpg " alt="My image" />
        </div>
        <div class="mdl-card" style="width: auto;">
          <div class="mdl-card__title">
            <div class="mdl-card__title-text">Fundamentals of Statistical Signal Processing: Estimation theory</div>
          </div>
          <div class="mdl-card__supporting-text">
            Steven M. Kay
          </div>
          <div class="mdl-card__supporting-text">
            ISBN: 9780133457117
          </div>
        </div>
      </div>
      <div id="book">
        <div style="padding:10px;float: left;text-align: center;">
          <img src="/static/drives.jpg" alt="My image" />
        </div>
        <div class="mdl-card" style="width: auto;">
          <div class="mdl-card__title">
            <div class="mdl-card__title-text">Electric Motor Drives: Modeling, Analysis, and Control</div>
          </div>
          <div class="mdl-card__supporting-text">
            Ramu Krishnan
          </div>
          <div class="mdl-card__supporting-text">
            ISBN: 9780130910141
          </div>
        </div>
      </div>
      <div id="nptel">
        <div style="padding: 10px;float: left">
          <img src="/static/nptel.jpg" alt="My image" />
        </div>
        <div class="mdl-card" style="width: auto;">
          <div class="mdl-card__title">
            <div class="mdl-card__title-text"><a href="http://nptel.ac.in/courses/108104011/"> Advanced Electric Drives</a></div>
          </div>
          <div class="mdl-card__supporting-text">
            Dr. S.P. Das, IIT Kanpur
          </div>
          <div class="mdl-card__supporting-text">
            <a href="http://nptel.ac.in/syllabus/syllabus.php?subjectId=108104011">Syllabus</a>
          </div>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
  </div>
  <span style="position: fixed;bottom: 30px;right: 30px">
    <a href={{course.id}}/edit id="edit" class="button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">edit</i>
    </a>
  </span>
</main>
<script>
  // set the dimensions of the canvas
  var margin = {
    top: 20,
    right: 20,
    bottom: 70,
    left: 40
  }
  a = document.getElementsByClassName('gGraph')[0].clientWidth;
  width = 300 - margin.left - margin.right;
  height = 250 - margin.top - margin.bottom;
  // set the ranges
  var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);
  var y = d3.scale.linear().range([height, 0]);
  // define the axis
  var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
  var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(5);
  // add the SVG element
  var svg = d3.select(".gGraph").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
      "translate(" + margin.left + "," + margin.top + ")");
  /* beautify preserve:start */
  var grades = {{course.grades | safe}}
  /* beautify preserve:end */
    // scale the range of the data
  diff = ["EX", "A", "B", "C", "D", "P", "F"]
  x.domain(diff);
  y.domain([0, d3.max(diff, function(d) {
    console.log(grades[d]);
    return grades[d];
  })]);
  // add axis
  svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);
  svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);
  // Add bar chart
  svg.selectAll("bar")
    .data(diff)
    .enter().append("rect")
    .attr("class", "bar")
    .attr("x", function(d) {
      return x(d);
    })
    .attr("width", x.rangeBand())
    .attr("y", function(d) {
      return y(grades[d]);
    })
    .attr("height", function(d) {
      return height - y(grades[d]);
    });
</script>
{%endblock%}
