{%extends "basic_header.html"%}
{%block pagebody%}
<script src="http://d3js.org/d3.v3.min.js"></script>
<span id="unavail" style="background-color: #f5f5f5">
  <p align="center"> Welcome to KGPmods, here are a few random courses we have selected for you.
  </p>
  <div style="display: table-row;">
    <div class="courseBlock"><a href="/courses/EE40002""><div class="courseRating"><div style="margin: 0 auto;text-align: center;">
      <i class="material-icons red">favorite</i>
      <i class="material-icons red">favorite</i>
      <i class="material-icons">favorite</i>
      <i class="material-icons">favorite</i>
      <i class="material-icons">favorite</i></div></div><div class="courseData"><div class="courseID">EE40002</div><div class="courseName">Electric Drives</div></div></a>
    </div>
    <div class="courseBlock"><a href="/courses/EE40002""><div class="courseRating"><div style="margin: 0 auto;text-align: center;">
      <i class="material-icons red">favorite</i>
      <i class="material-icons red">favorite</i>
      <i class="material-icons">favorite</i>
      <i class="material-icons">favorite</i>
      <i class="material-icons">favorite</i></div></div><div class="courseData"><div class="courseID">EE40002</div><div class="courseName">Electric Drives</div></div></a>
    </div>
    <div class="courseBlock"><a href="/courses/EE40002""><div class="courseRating"><div style="margin: 0 auto;text-align: center;">
      <i class="material-icons red">favorite</i>
      <i class="material-icons red">favorite</i>
      <i class="material-icons">favorite</i>
      <i class="material-icons">favorite</i>
      <i class="material-icons">favorite</i></div></div><div class="courseData"><div class="courseID">EE40002</div><div class="courseName">Electric Drives</div></div></a>
    </div>
  </div>
</span>
{%endblock%}